html {
  height: 100vh;
  width: 100vw; }

body {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto; }

#one_myHeader {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: pink;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  /* logo part */
  /* first div for list_1 */
  /* one small list bar design for responsive */
  /* right list for small web */ }
  #one_myHeader .logo_1 {
    width: 12.5%;
    height: 60px;
    position: relative; }
    #one_myHeader .logo_1 .logo_pic_1 {
      width: 50px;
      height: 50px;
      background-color: #f3f3f3;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      cursor: pointer; }
      #one_myHeader .logo_1 .logo_pic_1 .logo_pic_01 {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%; }
  #one_myHeader .activeted_pic_div_1 {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 30; }
    #one_myHeader .activeted_pic_div_1 .activeted_pic_1 {
      width: 390px;
      height: 390px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10; }
  #one_myHeader .list_1 {
    position: absolute;
    right: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 0;
    width: 87.5%;
    height: 60px; }
    #one_myHeader .list_1 li {
      width: 14.28%;
      height: 60px;
      text-align: center;
      line-height: 60px;
      position: relative;
      float: left; }
      #one_myHeader .list_1 li a {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #f3f3f3;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        font-size: 1.5vw; }
        #one_myHeader .list_1 li a::first-letter {
          color: red;
          font-size: 2.0vw; }
  @media only screen and (max-width: 500px) {
    #one_myHeader .list_1 {
      display: none; } }
  #one_myHeader .list_1_small_web {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 30px;
    top: 0;
    display: none;
    cursor: pointer; }
    #one_myHeader .list_1_small_web .list_1_small_web_logo {
      width: 50px;
      height: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #f3f3f3;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      user-select: none; }
      #one_myHeader .list_1_small_web .list_1_small_web_logo::after {
        content: "\f067";
        position: absolute;
        font-family: fontawesome;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 120%;
        font-size: 40px;
        color: teal; }
  @media only screen and (max-width: 600px) {
    #one_myHeader .list_1_small_web {
      display: block; } }
  #one_myHeader .list-right-small-1 {
    position: absolute;
    right: 0px;
    z-index: 20;
    width: 300px;
    display: none; }
    #one_myHeader .list-right-small-1 .list_01 {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      background-color: teal; }
      #one_myHeader .list-right-small-1 .list_01 li {
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        border: 1px solid yellow; }
        #one_myHeader .list-right-small-1 .list_01 li a {
          display: block;
          color: #ffffff;
          text-decoration: none;
          text-transform: capitalize;
          font-size: 1.6vw; }

/* section two with div */
#two_model_box {
  position: relative;
  width: 100%;
  height: auto; }
  #two_model_box .two-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    grid-gap: 10px;
    margin: 0px 40px; }
    @media only screen and (max-width: 500px) {
      #two_model_box .two-parent {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px 400px 400px; } }
    #two_model_box .two-parent .two-child {
      position: relative;
      background-color: khaki;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4); }
      #two_model_box .two-parent .two-child .two-pic {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 95%; }
      #two_model_box .two-parent .two-child .two-caption {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10%;
        height: 10%;
        background-color: #ffffff;
        border-radius: 50%;
        z-index: 10;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
        cursor: pointer; }
        #two_model_box .two-parent .two-child .two-caption::after {
          content: "\f0d8";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          font-family: fontawesome;
          text-align: center;
          line-height: 100%;
          font-size: 35px;
          color: khaki;
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); }

/* model setting for each image */
.two-model {
  width: 25%;
  height: 35%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -40%);
  background-color: yellow;
  z-index: 20;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0px 60px 0px 60px;
  display: none; }
  .two-model .two-model-pic {
    width: 95%;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    border-radius: 0px 60px 0px 60px; }
  .two-model .two-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 21;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700; }
  .two-model .two-close-button {
    width: 40px;
    height: 40px;
    display: block;
    background-color: #f3f3f3;
    position: absolute;
    left: 4%;
    top: 4%;
    z-index: 21;
    border-radius: 0px 20px 0px 20px;
    cursor: pointer;
    user-select: none; }
    .two-model .two-close-button::after {
      content: "\f067";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: fontawesome;
      color: #ff0000; }

/*now javascript prctise hardly about 120*/
/*now javascript prctise hardly about 120*/
.mySection {
  width: 100%;
  height: 100vh;
  position: relative; }
  .mySection .common-div {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px; }
    .mySection .common-div .common-header {
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: #ffffff;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      font-size: 2.0vw; }
      .mySection .common-div .common-header .common-sub-title {
        color: #000000; }
    .mySection .common-div .common-title {
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
      color: #ffffff;
      padding: 0;
      margin: 0;
      font-size: 1.2vw; }

/* now i am in section one or Dhaka */
#Dhaka {
  background-color: #ff8c1a; }

/* now i am in section two or CoxBazar */
#CoxBazar {
  background-color: #5c5c3d; }

/* now i am in section three or Rajshahi */
#Rajshahi {
  background-color: #badc58; }

/* now i am in section four or Chittagong */
#Chittagong {
  background-color: #6b6b47; }

/* now i am in section five or Comilla */
#Comilla {
  background-color: #e0e0d1; }

/* now i am in section six or Barisal */
#Barisal {
  background-color: #7a7a52; }

/* now i am in section seven or Bhola */
#Bhola {
  background-color: #d6d6c2; }

/* now i am in section eight or Dinajpur */
#Dinajpur {
  background-color: #8a8a5c; }

/* now i am in section nine or Feni */
#Feni {
  background-color: #c2c2a3; }

/* now i am in section ten or Gazipur */
#Gazipur {
  background-color: #999966; }

/* now i am in section eleven or Jaipurhat */
#Jaipurhat {
  background-color: #b8b894; }

/* now i am in section twelve or Jessore */
#Jessore {
  background-color: #4d4d33; }

/* now i am in section thirteen or Khulna */
#Khulna {
  background-color: #adad85; }

/* now i am in section fourteen or Kushtia */
#Kushtia {
  background-color: #5c5c3d; }

/* now i am in section fifteen or Magura */
#Magura {
  background-color: #999966; }

/* now i am in section sixteen or Narail */
#Narail {
  background-color: #4d3319; }

/* now i am in section seventeen or Pabna */
#Pabna {
  background-color: #e6ccb3; }

/* now i am in section eighteen or Patuakhali */
#Patuakhali {
  background-color: #734d26; }

/* now i am in section nineteen or Rajbari */
#Rajbari {
  background-color: #d9b38c; }

/* now i am in section twenty or Rangpur */
#Rangpur {
  background-color: #996633; }

/*# sourceMappingURL=style.css.map */
